@import '~antd/dist/antd.css';

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-header {
  
  background-color: #f0f2f5 !important;
}

.ant-layout-footer {
  padding: 24px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  background: #c4c7cc;
}

.ant-layout-header {
  background-color: #c4c7cc !important;
}

.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #c4c7cc ;
}
.ant-menu {
  line-height: .5rem !important;
  background-color: #c4c7cc !important;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: rgb(10, 4, 4);
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 0.1px;
  background-color: #c4c7cc;
}

.ant-menu-item{
  background-color: #c4c7cc;
  color: black;
  
}
.ant-menu-item-selected{
  background-color: black !important;
  color: white;

}

.ant-menu-item:hover{
  color: black !important;
  background-color: white  !important;
  /* border-radius: 15em !important; */
  transform: scale(1.1);
  border-right: 13px solid #212222;
 }

 .ant-menu-inline {
   border-right: 1px solid #c4c7cc !important ;
 }

 .ant-menu-inline .ant-menu-item::after{
   border-right: black ;
 }

 .ant-table-thead > tr > th {
  color: rgb(255 255 255 / 85%);
  font-weight: 500;
  text-align: left;
  background: #0a0551;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.3s ease;
 }