@import "~antd/dist/antd.css";
.login-header {
  text-align: center;
  margin-top: -2rem;
}

.ant-menu-horizontal {
  line-height: 46%;
  border: 0;
  border-bottom: 0% solid #f0f0f0;
  box-shadow: none;
}

.banner {
  align-items: center;

  height: 70%;
  background-color: #9a77fe;
}
.login-form {
  max-width: 50%;
  height: 100vh;
  font-family: "fangsong";
  background-color: #fff;
  padding: 50px 70px;
  position: absolute;
  overflow: hidden;
  right: 0px;
  border-radius: 0px;
  box-shadow: 3px 3px 10px 4px #d9d9d969;
}
.login-form-forgot {
  float: center;
}
.ant-col-rtl .login-form-forgot {
  float: center;
}
.login-form-button {
  width: 80%;
}

body {
  background-color: #9a77fe;
}
